@import url("https://use.typekit.net/msn0cim.css");

body {
  font-family: "proxima-nova", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Color Variables
$imperial: #ee3b23;
$olympic: #44a8de;
$parakeet: #33cd86;
$alpine: #7ca5f8;
$strawberry: #e84849;
$tangerine: #fda33a;
$finch: #ffd576;
$deepSea: #253237;
$gravel: #374851;
$spaceGray: #455b64;
$blueSteel: #617d8a;
$offWhite: #f1f3f4;
$white: #fff;

// Shadow Variables
$shadow01: 0px 2px 4px rgba(149, 149, 149, 0.45);
$shadow02: 0px 2px 9px rgba(149, 149, 149, 0.2);

// Border Radius Variables
$defualt-border-radius: 4px;
$top-border-radius: 4px 4px 0 0;

// Type
h1 {
  font-size: 40px;
  color: $spaceGray;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  color: $gravel;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.1em;
  color: $gravel;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 0px;
}

h4 {
  color: $spaceGray;
  font-weight: 400;
  line-height: 150%;
}

h5 {
  font-size: 21px;
  margin: 20px 0 10px 0;
  font-weight: 700;
}

h5.multi-col-approved-text {
  color: $parakeet;
}

h5.multi-col-denied-text {
  color: $strawberry;
}

p {
  font-size: 1em;
  color: $blueSteel;
  font-weight: 400;
  line-height: 150%;
  max-width: 800px;
}

ul.general-list {
  padding-left: 20px;
}

ul.general-list li {
  font-size: 1em;
  color: $blueSteel;
  font-weight: 400;
  line-height: 175%;
  max-width: 800px;
}

// Header
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(241, 243, 244, 0.3);
}

// Top navigation bar
.top-nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  padding: 20px 5%;
  z-index: 9;

  a {
    img {
      width: 150px;
    }
  }
}

// Page Header
.page-header {
  width: 90%;
  padding: 100px 5% 80px 5%;
}

// Site Navigation
#site-navigation {
  width: 90%;
  height: 60px;
  padding: 0px 5%;
  background-color: $offWhite;
  box-shadow: $shadow01;
}

// Class to apply when navbar hits top of viewport window - sticks navigation top top
.sticky {
  position: fixed;
  top: 0;
  z-index: 10;
}

// Class to apply when navbar hits top of viewport window - adds padding to content below navbar to smooth the transition
.smooth-padding {
  padding-top: 60px;
}

nav#site-navigation ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;

  li {
    padding: 0 20px;
    font-weight: 600;
    height: 60px;
    transition: all 0.15s ease-Out;

    &:hover {
      background-color: rgba(69, 91, 100, 0.05);
    }

    a {
      font-size: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      text-decoration: none;
      color: $spaceGray;
      height: 100%;
      width: 100%;
    }
  }
}

nav#site-navigation ul li.active {
  height: 57px;
  border-bottom: 3px solid $imperial;
  background-color: rgba(69, 91, 100, 0.05);
}

// Page Sections
main {
  width: 100%;
}

section {
  width: 90%;
  padding: 60px 5%;
  border-bottom: 2px solid #e1e6e8;
}

.subsection {
  padding-top: 75px;
}

.subsection.color-subsection {
  padding-top: 20px;

  h2 {
    font-size: 18px;
    font-weight: 600;
  }

  p {
    font-size: 0.9em;
  }
}

// Logo Section
#the-logo {
  img {
    width: 100%;
    margin: 5px 0 10px 0;
  }
  .one-column-image-container img {
    max-width: 200px;
  }
  .exclusion-zone-image-container img {
    max-width: 650px;

    &:nth-child(2) {
      max-width: 227px;
      margin-right: 0px;
    }
  }
  .minimum-size-image-container {
    display: flex;
    flex-direction: column;

    .image-description {
      p {
        font-size: 14px;
      }

      &:nth-child(1) img {
        max-width: 150px;
      }
      &:nth-child(2) img {
        max-width: 35px;
      }
    }
  }
}

// Download Button
.download-link-flex-container {
  display: inline-flex;
  width: auto;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #44a8de;
  padding: 0 0 10px 0;
}
.download-text {
  padding-left: 10px;
}
.btn-download {
  cursor: pointer;
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -webkit-tap-highlight-color: transparent;
}
.download-link-flex-container:hover .btn-download {
  background: rgba(34, 50, 84, 0.03);
}
.btn-download svg {
  margin: 16px 0 0 16px;
  fill: none;
  transform: translate3d(0, 0, 0);
}
.btn-download svg polyline,
.btn-download svg path {
  stroke: #44a8de;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: all 0.3s ease;
  transition-delay: 0.3s;
}
.btn-download svg path#check {
  stroke-dasharray: 38;
  stroke-dashoffset: 114;
  transition: all 0.4s ease;
}
.btn-download.downloaded svg .svg-out {
  opacity: 0;
  animation: drop 0.3s linear;
  transition-delay: 0.4s;
}
.btn-download.downloaded svg path#check {
  stroke: #33cd86;
  stroke-dashoffset: 174;
  transition-delay: 0.4s;
}

@keyframes drop {
  20% {
    transform: translate(0, -3px);
  }
  80% {
    transform: translate(0, 2px);
  }
  95% {
    transform: translate(0, 0);
  }
}

// Multi-Column Flex Container
.multi-col-flex-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.multi-col-item {
  display: block;
}

.multi-col-item-image-wrapper {
  &:before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.approved-logos .multi-col-item-image-wrapper {
  &:before {
    background-image: url("https://github.com/LegworkPRM/style-guide/blob/master/img/checkmark-icon.png?raw=true");
  }
}

.denied-logos .multi-col-item-image-wrapper {
  &:before {
    background-image: url("https://github.com/LegworkPRM/style-guide/blob/master/img/x-icon.png?raw=true");
  }
}

.multi-col-item-text-content p {
  margin-top: 0;
}

// Asset Grid - Colors
ul.asset-grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  list-style-type: none;
  padding: 0;
}

button.color-name {
  padding: 1rem 0.875rem;
  flex: 1;
  flex-basis: 50%;
  max-width: calc(50% - 2.5rem);
  margin: 0.25rem 0.5rem 0.25rem 0;
  cursor: pointer;
  outline: none;
  border: none;
}

p.hex {
  font-size: 0.85em;
  font-weight: 400;
  margin: 0;
  color: $white;
  text-align: left;
}

p.title {
  font-size: 1em;
  font-weight: 700;
  margin: 0;
  color: $white;
  text-align: left;
}

li.color-name img {
  width: 100%;
  margin: 0;
  padding: 0;
}

ul.asset-grid.gradients li {
  margin: 10px 20px 0 0;
  padding: 0;
  max-width: 190px;
}

// Color Blocks
.imperial {
  background-color: $imperial;
}
.olympic {
  background-color: $olympic;
}
.parakeet {
  background-color: $parakeet;
}
.alpine {
  background-color: $alpine;
}
.strawberry {
  background-color: $strawberry;
}
.tangerine {
  background-color: $tangerine;
}
.finch {
  background-color: $finch;
}
.deepSea {
  background-color: $deepSea;
}
.gravel {
  background-color: $gravel;
}
.spaceGray {
  background-color: $spaceGray;
}
.blueSteel {
  background-color: $blueSteel;
}
.offWhite {
  background-color: $offWhite;
  border: 1px solid #e1e6e8;
  p {
    color: $spaceGray;
  }
}

// Color Info Card Grid
ul.color-info-card-grid {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li.info-card {
  box-shadow: $shadow02;
  border-radius: $defualt-border-radius;
  max-width: 340px;
  width: 100%;
  margin: 0 auto 2rem;
  background-color: $white;
  padding-bottom: 20px;
}

.color-card-name {
  border-radius: $top-border-radius;
  padding: 15px 0 60px 20px;

  p.title {
    font-size: 1em;
  }

  p.hex {
    font-size: .9em;
  }
}

.color-card-description {
  padding: 10px 20px 0 20px;

  h3 {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 0;
  }

  p {
    font-size: .9em;
  }
}

.color-card-image {
  background-image: url('https://github.com/LegworkPRM/style-guide/blob/master/img/gradient-background01.png?raw=true');
  background-repeat: no-repeat;
  background-size: cover;
}

.color-card-image-with-text, .color-card-image-with-icon {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70px;
}

.color-card-image-with-text {
  background-image: url('https://github.com/LegworkPRM/style-guide/blob/master/img/color-what-to-avoid01-01.png?raw=true');
}

.color-card-image-with-icon {
  background-image: url('https://github.com/LegworkPRM/style-guide/blob/master/img/color-what-to-avoid01-02.png?raw=true');
}

// Type
.type-col-grid {
  display: flex;
  flex-direction: column;
}

.type-col-block {
  width: 100%;
}

.font-regular p {
  font-size: 1.2em;
  font-weight: 400;
}

.font-medium p {
  font-size: 1.2em;
  font-weight: 500;
}

.font-bold p {
  font-size: 1.2em;
  font-weight: 600;
}

.font-heavy p {
  font-size: 1.2em;
  font-weight: 700;
}

#imagery img {
  width: 100%;
}

// Overlays in use
.two-col-flex-container {
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 0;
}

.two-col-flex-item {
  width: 100%;
}

.two-col-image-wrapper {
  &:before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0 0 15px 0;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.two-col-image-wrapper img {
  width: 100%;
  box-shadow: 0 2px 30px rgba(0,0,0,.1);
}

.approved-overlays .two-col-image-wrapper {
  &:before {
    background-image: url("https://github.com/LegworkPRM/style-guide/blob/master/img/checkmark-icon.png?raw=true");
  }
}

.denied-overlays .two-col-image-wrapper {
  &:before {
    background-image: url("https://github.com/LegworkPRM/style-guide/blob/master/img/x-icon.png?raw=true");
  }
}

// Footer
footer {
  width: 90%;
  padding: 15px 5%;
}

////////////////////////////////////////
//          Media Queries            //
//////////////////////////////////////

@media screen and (min-width: 500px) {
  // Logo Section
  #the-logo {
    img {
      display: inline-block;
      max-width: 450px;
      margin: 15px 20px 5px 0px;
    }

    .minimum-size-image-container {
      flex-direction: row;

      .image-description {
        width: 45%;
        margin: 0 2.5% 0 0;
      }
    }
  }
  button.color-name {
    flex-basis: 33.3333%;
    max-width: calc(33.33% - 2.5rem);
  }
}

@media screen and (min-width: 700px) {
  .multi-col-flex-container {
    flex-direction: row;
    flex-flow: row-wrap;
    justify-content: center;
  }

  .multi-col-item {
    max-width: calc(25% - 2rem);
    margin: 1rem;
    flex-grow: 1;
    flex-basis: calc(25% - 2rem);
  }
}

@media screen and (min-width: 770px) {
  ul.color-info-card-grid {
    flex-direction: row;
    padding: 1rem 0;
  }
  li.info-card {
    flex: 1 1 33.33%;
    margin: 0 1.5rem 0 0;
  }
}

@media screen and (min-width: 800px) {
  button.color-name {
    flex-basis: 16.66%;
    max-width: calc(16.66% - 1.75%);
    margin: 0.5rem 1.75% 0.5rem 0;
  }

  .type-col-grid {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .type-col-block {
    width: 40%;
    margin: 0 5% 0 0;
  }

  .two-col-flex-container {
    flex-direction: row;
  }

  .two-col-flex-item {
    width: 46%;
    margin: 0 4% 0 0;
  }
}

@media screen and (min-width: 1100px) {
  h1 {
    font-size: 60px;
    margin-bottom: 20px;
  }

  h4 {
    font-size: 1.1em;
    max-width: 700px;
    margin: 0 auto;
  }

  p {
    font-size: 1.1em;
  }

  ul.general-list li {
    font-size: 1.1em;
  }

  nav#site-navigation ul li a {
    font-size: 18px;
  }

  .top-nav-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }

  .top-nav-bar-container {
    width: 1080px;
  }

  .page-header {
    max-width: 1080px;
    margin: 0 auto;

    h1,
    h4 {
      text-align: center;
    }
  }

  #site-navigation {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  #site-navigation ul {
    width: 1080px;
    margin: 0 auto;
  }

  .section-content {
    max-width: 1080px;
    margin: 0 auto;
  }

  #the-logo {
    .exclusion-zone-image-container img {
      margin-right: 40px;
    }
  }

  // Footer
  footer {
    max-width: 1080px;
    margin: 0 auto;
    padding: 15px 0;
  }
}


// Click to copy color hex value - Ripple effect
.ripple {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.ink {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.animate {
  -webkit-animation: ripple 0.6s linear;
  -moz-animation: ripple 0.6s linear;
  -ms-animation: ripple 0.6s linear;
  -o-animation: ripple 0.6s linear;
  animation: ripple 0.6s linear;
}

@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
    }
}

@-moz-keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5);
    }
}

@-o-keyframes ripple {
    100% {
        opacity: 0;
        -o-transform: scale(2.5);
    }
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}